* {
  /* background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%); */
  background: linear-gradient(to right, #E1ACAC 50%, #E8C5C5 50%);
  color: white;
  margin: 0;
  padding: 0;

}

.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

